################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/https-github.com-Technovert-Product-Engeneering-employee-directory-html-cs-js/FileContentIndex/f422a789-e7f4-4c9e-b49d-14f14b4eed8c.vsidx
/.vs/https-github.com-Technovert-Product-Engeneering-employee-directory-html-cs-js/FileContentIndex
